@charset "utf-8";
/*css global*/
*{margin:0;padding:0; box-sizing: border-box;}
html { 
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
   overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
body{
 color: #333;
  background-color: #fff;
  font-size: 14px;
  font-family: 'Helvetica', 'Helvetica Neue', 'Verdana', 'sans-serif', 'Arial', 'Ubuntu', 'PingFang SC', 'Microsoft YaHei';
  line-height: 1.8;
  overflow-x: hidden;
}
table{ border-collapse: collapse;width:100%;}
i,em,dfn{font-style: normal;}
a{text-decoration: none;}
button,input{
	outline: none;border:0 none;
	 border: none;
    -moz-appearance:none;
    -webkit-appearance : none ;/*解决ios上按钮的圆角问题*/
    border-radius: 0;/*解决ios上输入框圆角问题*/
    outline:medium;/*去掉鼠标点击的默认黄色边框*/
    background-color: transparent;
}
ul,ol,li{ list-style:none; }
img{border:0;vertical-align: middle;max-width:100%;}
a,a:focus{outline:none;}
a,a:link{color:#0a76d6;cursor: pointer;}
a:hover{color:#333;}
.blue,a.blue,.blue a{color:#0a76d6;}
.bluebtn,.greenbtn,.whitebtn,.white-btn,.bluebtn_small{color:#fff;font-size:18px; background:#0a76d6;border-radius:2px;padding:5px 35px;display: inline-block;}
.greenbtn{background: #0ad67d;}
.whitebtn{background:rgba(255,255,255,.3);}
.white-btn{ background: #fff;color:#0a76d6;border:1px solid #0a76d6;font-size:16px;}
a.white-btn{color:#0a76d6}
a.bluebtn,a.greenbtn,a.whitebtn,a.white-btn:hover,.bluebtn_small:hover,a.bluebtn_small{color:#fff;}
.bluebtn:hover,.white-btn:hover,.bluebtn_small:hover{ background:#0d88f5;}
.greenbtn:hover{ background:#0ff18e;color:#fff;}
.whitebtn:hover{ background:rgba(255,255,255,.2);color:#fff;}
.bluebtn_small{font-size:14px;padding:3px 25px;}
.text666{color:#666}
.tc{text-align:center;position: relative;left:-18px;}
.red{color:#CC0000;}
.graybg{background: #f3f8fd;}
.mgtb100{margin:100px 0;}
.mgtb50{margin:50px 0;}
.mgtb40{margin:40px 0 50px 0;}
.pdtb60{padding:60px 0;}
.mgtb{margin-top:80px;margin-bottom:20px;}
.mgtb10{margin:10px 0;}
.hidden{display:none;}
/*top*/
.top52{margin-top:-52px !important;position: relative;left:20px}
.menu_app{display: none;}
.top .topbar{width:1200px;margin:0 auto;height:80px;padding:12px 15px;position: relative;z-index:5;}
.topbar .nav,.topbar .logo,.topbar .login-link{display: inline-block;position: relative;z-index:2; vertical-align: middle;}
.topbar .logo{width: 100px;height:60px; background: url("../images/xinlogo-w.png"/*tpa=http://www.kirincloud.net/images/xinlogo-w.png*/) no-repeat; background-size: 100% auto; }
.topbar .nav {margin-left:50px;}
.topbar .nav a{display: inline-block;margin:0 15px;font-size:18px;color:#fff;line-height:50px;}
.topbar .nav a.on{border-bottom:4px solid #0ad67d;}
.topbar .login-link a{color:#fff;margin-left:50px;}
.register_a{ background: #0ad67d;padding:10px 25px;border-radius: 20px; }
.bluebg{ background: #0a76d6;}
.small_logo{width:48px;height:52px; background: url("https://cdn.jsdelivr.net/gh/AOSOUL/supercdns@master/xinlogo2.png") no-repeat; background-size: cover;display: inline-block;}
/*slide*/
.banner_01{background:#000111;}
.banner_01 .con{background:#000111 url("https://cdn.jsdelivr.net/gh/AOSOUL/supercdns@master/banner01.png") right bottom no-repeat;background-size: auto 450px;}
.banner_02{background:#000543;}
.banner_02 .con{background:#000543 url("https://cdn.jsdelivr.net/gh/AOSOUL/supercdns@master/banner02.png") right bottom no-repeat;background-size:auto 400px ;}
.banner_03{background:#14004d; }
.banner_03 .con{background:#14004d url("https://cdn.jsdelivr.net/gh/AOSOUL/supercdns@master/banner03.png") right bottom no-repeat;background-size:auto 400px ;}

/*重置*/

.banner_index{top:-80px;margin-bottom:50px;}
.banner_index .swiper-slide{height:520px;}
.banner_index .swiper-slide .con{width:1200px;margin:0 auto;color:#fff;height:520px;padding:0 50px;}
.banner_index .swiper-pagination-bullet{ background: rgba(255,255,255,1);opacity:1;border-radius: 0;width:20px;height:4px;}
.banner_index .swiper-pagination-bullet-active{background:#0ad67d;}
.banner_index .swiper-slide .con h1{font-size:40px;font-weight:normal;padding-top:180px;}
.banner_index .swiper-slide .con h3{font-size:26px;}
.banner_index .swiper-slide .con p{font-size:18px;}
.banner_index .swiper-slide .con h1,.swiper-slide .con h3,.swiper-slide .con p{margin-bottom:10px;}
.banner_index .swiper-slide .con h3 span{display:inline-block;margin-right:40px;}
.banner_index .swiper-slide .con .greenbtn,.swiper-slide .con .whitebtn{margin-right: 30px;margin-top:20px;}
.banner_index:before{content:'';width:100%;height:80px;position: absolute;top:0;left:0; background: rgba(255,255,255,.1);z-index:3;}

/*wrapper*/
.wrapper{width:1200px;margin:0 auto; position: relative;}
.title{position: relative;}
.title h2{font-size:28px;font-weight: normal;}
.title p{color:#666;margin-top:10px;}
.main_title_log {position: relative; left:480px;padding-top: 15px;}
.main_title_log h1{font-size:28px;font-weight: normal;}
.main_product{margin:120px 0 50px 0}
.main_product li{width:360px;height:550px;display: inline-block; background:#fff;box-shadow: 1px 1px 10px rgba(0,0,0,.1);position:relative;padding-bottom:60px;vertical-align:top;}
.main_product li:hover{box-shadow: 1px 1px 10px rgba(0,0,0,.3);}
.main_product li h3{font-size:20px; /*background:rgba(10,118,214,.2);*/color:#0a76d6; text-align: center;padding:10px 8px 0 8px;}
.main_product li h2{font-size:18px; text-align: center;}
.main_product li h4{font-size:14px; text-align: center;}
.main_product li h4 dfn{color:#CC0000;font-size:20px;}
.main_product li div.parameter{border-top:1px solid #efefef;padding:20px;color:#666;line-height:2;margin: 2px 0;}
.main_product li div.parameter p{display: inline-block; padding:2px 10px;margin-right:10px;margin-bottom:10px;}
.main_product li .bluebtn{position: absolute;bottom:-20px;left:30%;right:30%;margin:0 auto;box-shadow: 5px 5px 5px rgba(0,0,0,.3);font-size:16px;}
.main_product li .info{padding-top:5px; padding-bottom:50px;}
.main_product li .info span,.main_product li .info p{display: inline-block;width:70%;margin-left:10px;color:#666;}
.main_product li .info span{width:70px;height:80px; vertical-align: top;margin-top:5px;font-size:75px;color:#0a76d6;}
.main_product li .info span.icon-gfip{margin-left:0;}
.main_product li.tdun{margin:0 35px;width:360px;position: relative;top:-70px;height:600px;}
.main_product li.tdun h3{position: relative;}
.icon-hot{position: absolute;right:-5px;top:-6px; background: url("https://cdn.jsdelivr.net/gh/AOSOUL/supercdns@master/HOT.png") no-repeat; background-size:cover;width:60px;height:60px; }
.solution_con{position: relative;padding:100px 0 30px 0;}
.tdun_con dt,.tdun_con dd{display: inline-block; vertical-align: top;}
.tdun_tab{ width:100%;left:0;background: #fff;box-shadow: 1px 1px 10px rgba(0,0,0,.1);border-radius: 0 0 5px 5px;padding:10px;position: absolute;top:-40px;height:80px;line-height:60px;font-size:18px; text-align:center;z-index:6;cursor: pointer;}
.tdun_tab li.swiper-pagination-bullet{display:inline-block;width:24.5%;color:#666;border-right:1px solid #f2f2f2;}
/*.tdun_tab li:hover{text-shadow: 1px 1px 10px rgba(0,0,0,.2)}*/
.tdun_tab li:last-child{border-right:0;}
.tdun_tab li em{color:rgba(10, 118, 214, 0.2);margin-right:10px;font-size:35px;}
.tdun_tab li.active,.tdun_tab li.active em,.tdun_tab li:hover,.tdun_tab li:hover em{color:#0a76d6;}
.icon_log{position: relative;top:38px;left:-38px;}
.icon_log em{font-size: 28px;}

.tdun_tab li.swiper-pagination-bullet-active em,.tdun_tab li.swiper-pagination-bullet-active{color:#0a76d6;}
 li.swiper-pagination-bullet{background: none;width:auto;height:100%;opacity: 1;border-radius: 0;}
 li.swiper-pagination-bullet-active{ background: none;border-radius: 0;outline:none; }

.tdun_con dd{width:835px;padding:0 20px;}
.tdun_con dd h4{font-size:14px;margin-top:15px;}
.tdun_con dd p{color:#666;}
.tdun_con dd .detail{margin-bottom:20px;}
.tdun_con dd h3{font-size:20px;margin-bottom:10px;font-weight:normal}
.tdun_con dd .bluebtn{font-size:14px;margin-top:20px;}
.tdun_con dd ul li{padding-bottom:15px;}
.tdun_con dt{width:330px;margin-right:20px;}

.tdun_con dt img{width:100%;}
.tdun_con dt h3{padding:10px; text-align: center;font-size:18px;font-weight:normal;}
.logo_flink{margin-top:25px;}
.logo_flink img{display: inline-block;margin-left:20px;width:100px;height:46px;}
.pro_feature {margin:50px 0;}
.pro_feature li{ background: #fff;box-shadow: 1px 1px 10px rgba(0,0,0,.1);width:32%;display:inline-block;margin-right:1.5%;padding:40px 25px;color:#666;line-height:2;margin-bottom:25px; position: relative;}
.pro_feature li h2{font-size:20px;color:#333;font-weight:normal;margin-bottom:10px;margin-left:40px;}
.pro_feature li:nth-child(3n){margin-right:0}
.pro_feature li i{position:absolute;left:10px;top:-30px;font-size:80px;font-family: Arial, 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;color:rgba(10,118,214,.08);font-style: italic}
.pro_feature li em{color:#0a76d6;font-size:14px;margin-right:5px;}
.news_index dt{height:400px;background: #fff;}
.news_index dt h3{margin-top:20px;}
.news_index dt p{padding:0 20px;color:#666;}
.news_index dt a{color:#333}
.news_index dt:hover{box-shadow: 1px 1px 10px rgba(0,0,0,.2)}
.news_index div{padding:15px 10px;border-bottom:1px solid #fff;position: relative;}
.news_index div:hover{box-shadow: 1px 1px 10px rgba(0,0,0,.5);border-radius:5px;}
.news_index div:first-child{padding-top:0;}
.news_index div:last-child{border-bottom:0;}
.news_index div h3{font-weight:normal;font-size:16px;margin-bottom:5px;width:78%;display: inline-block;}
.news_index div h3 a,.news_index div a h3{color:#333; vertical-align: top;}
.news_index div span{font-size:14px;color:#999;display: inline-block;position: absolute;right:20px;}
.news_index div a span{color:#999;}
.news_index div h3 em{color:#0a76d6;}
.news_index div p,.solution_box p{font-size:12px; position: relative;}
.news_index div p{padding-right:30px;}
.news_index div p em.icon-arrow,.solution_box em.icon-arrow{position: absolute;right:0;bottom:-5px;color:rgba(10,118,214,.3);font-size:25px;}
.solution_box em.icon-arrow{bottom:0;}
.news_more{ text-align: right;position: relative;bottom:-35px;}
.partner li{width:14.2%;margin:1%;display: inline-block; text-align: center;}
.partner li img{width:130px;height:60px;border:1px solid #f2f2f2;}
.phone_submit_bar{ background: #f2f2f2;padding:15px; text-align: center;font-size:20px;color:#333;}
.phone_submit_bar .greenbtn{cursor: pointer;margin-left:20px;}
/* .input_phone,.submit_green{display: inline-block;vertical-align: middle;} */
.input_phone{width:500px; background: #fff;height:40px;padding:0 10px;}
.submit_green{height:40px; border-radius: 0 2px 2px 0;position: relative;left:-4px;cursor: pointer;}
.foot{ background: #333;color:#999;}
.foot a{color:#999;}
.foot a:hover{color:#fff;}
.copyright{font-size:12px;}
.alink_list a,.copyright_txt span{display:inline-block;margin:0 10px;}
.copyright,.subnav{padding:40px 0;}
.subnav,.linkfriend{border-top:1px solid #434343;}
.linkfriend{padding: 8px 0;font-size:12px;}
.weixin_phone,.subnav ul,.weixin_phone h1,.qrcode{display: inline-block; vertical-align: middle;}
.subnav li{display: inline-block;width:195px;}
.subnav li h3{font-size:16px;margin-bottom:10px;}
.subnav li a{display:block;line-height:2.2;}
.weixin_phone h1{color:#fff;font-size:30px;font-weight:normal;margin-right:35px;}
.weixin_phone em{margin-right:20px;font-size:50px;}
.qrcode {padding:5px;background:#fff;color:#333; text-align: center;font-weight:bold;}
.qrcode span{width:100px;height:100px;display: block; background:#fff url("../images/qrcode.jpg"/*tpa=http://www.kirincloud.net/images/qrcode.jpg*/) no-repeat; background-size:cover;margin-bottom:5px; }
.service_txt li{width:28.5%; display: inline-block;font-size:18px;color:#ccc;margin:30px 0}
.service_txt li:last-child{width:13%}
.service_txt li em{font-size:40px;margin-right:10px;}
.service_txt li em.icon-vip{font-size:33px;}
/*咨询*/
.consultation,.right_contact{position: fixed;right:0;bottom:40%; background: #fff;box-shadow: 1px 1px 10px rgba(0,0,0,.1);z-index:999;border-radius: 2px 0 0 2px;}
.consultation{right:50px;padding:10px 0;}
.consultation li{padding:5px 0;text-align: center;}
.consultation li .phone{font-size:16px;border-top:1px solid #f2f2f2;padding:10px;margin-top:20px; background:#f2f2f2;color:#333;}
.consultation li .icon-phone{font-size:30px;color:#CC0000;display: block; }
.right_contact{cursor: pointer;}
.right_contact em.icon-phone,.right_contact em.icon-top{font-size: 30px;}
.right_contact p{border-top:1px solid #e5e5e5;padding:10px;}
.right_contact p:first-child{border-top:0;}

/*页面布局*/
.shadow{ box-shadow: 1px 1px 10px rgba(0,0,0,.1);}
.left_con{/*width:76%;position: relative;*/padding:30px 40px 40px 40px;}
.right_con{width:18%;position: absolute;right:0;top:0;background:#fff;box-shadow: 1px 1px 10px rgba(0,0,0,.1);}
.right_con dt{color:#CC0000;padding:8px 15px 5px 15px;border-bottom:1px solid #f2f2f2;font-weight:bold;}
.right_con dd{padding:15px;line-height:2.5;}
.btn_space a{margin-right:20px;margin-top:30px;}

.tdun_advantages li{min-height:318px;display:inline-block; vertical-align: middle;width:24%;margin-right:1%; background: #fff;border:1px solid #e5e5e5;padding:30px; text-align:center;margin-bottom:20px;}
.tdun_advantages li:nth-child(4n){margin-right:0;}
.tdun_advantages li h3{font-size:18px;font-weight:normal;margin-bottom:15px;}
.tdun_advantages li em{display: block;margin-bottom:15px;font-size:70px;color:#333;}
.tdun_advantages li p{text-align: left;color:#666;}
.tdun_advantages li em.icon-t02{font-weight:600;}



.tdun_tab_scene{left:200px;position: absolute;top:90px;font-size:16px; text-align:center;z-index:6;cursor: pointer;}
.tdun_tab_scene li{display:inline-block;margin:0 20px;color:#666;border-bottom:2px solid #fff;}
.tdun_tab_scene li.swiper-pagination-bullet-active,.tdun_tab_scene li:hover{color:#0a76d6;border-bottom:2px solid #0a76d6;}
.border-gray{border:1px solid #e5e5e5;}
.tdun_cont_scene{position: relative;}
.tdun_cont_scene .swiper-slide {padding:20px;}
.tdun_cont_scene dt,.tdun_cont_scene dd{display: inline-block; vertical-align: top;}
.tdun_cont_scene dt,.tdun_cont_scene dt img{width:200px;height:150px;}
.tdun_cont_scene dd{margin-left:50px;width:800px;}
.tdun_cont_scene dd h3,.tdun_cont_scene dd p .white-btn{margin-top:58px;}
.tdun_cont_scene .swiper-container{margin-bottom:40px;}

.pro_attribute tbody tr:nth-child(even){ background: #f2f2f2;}
.pro_attribute td,.pro_attribute th{padding:10px; text-align: center;border:1px solid #e5e5e5;}
.pro_attribute thead{background:#f2f2f2;box-shadow: 1px -1px 5px rgba(0,0,0,.1)}
.pro_attribute thead td{color:#333}
.pro_attribute .greenbtn,.pro_attribute .bluebtn{font-size:14px;padding:3px 10px;margin:0 10px;}
.pro_attribute tbody tr td:nth-child(9){ text-align: left;}
.tdun_step{padding:40px 20px;border:1px solid #f2f2f2;}
.tdun_step li{display: inline-block; text-align: center;width:250px;}
.tdun_step li i{color:#e5e5e5;font-size:80px;margin-left:35px; }
.tdun_step li span{ background: #e5e5e5;color:#333;display:inline-block;border-radius: 50%;width:110px;height:110px;padding-top:20px;font-size:16px; vertical-align: middle;}
.tdun_step li em{display: block;font-size:40px;margin-bottom:5px;}
.tdun_step li:last-child{width:110px;margin-left:20px;}
.video_con {margin-bottom:100px;}
.video_con li,.tdun_solution_secen li{width:31.4%;margin-right:2.5%; background: #fff;border:1px solid #e5e5e5;padding:10px;display: inline-block;vertical-align: top; text-align: center;}
.video_con li:last-child,.tdun_solution_secen li:last-child{margin-right:0;}
.video_con li h3{font-weight:normal;font-size:16px;}
.video_con li div{width:100%;height:206px;position: relative;margin-bottom:10px;cursor: pointer;}
.video_con li div em{position: absolute;top:85px;left:155px;z-index:100;color:#fff;}
/* .video_con li div:before{content:'';width:100%;height:100%; background: rgba(0,0,0,.5);position:absolute;left:0;top:0;z-index:1;} */
.tdun_solution_secen{margin-top:80px;}
.tdun_solution_secen li{text-align: left;padding:0;min-height:500px;}
.tdun_solution_secen li h3{ background: #f2f2f2; text-align: center;font-size:18px;font-weight:normal;padding:10px 0;}
.tdun_solution_secen div{padding:20px;}
.tdun_solution_secen div.keyword span{display:inline-block;margin-right:25px; }
.tdun_solution_secen li .detail{padding:20px;color:#666;}
.successful_cases{margin-bottom:100px;}
.successful_cases dl{padding:30px 0;border-bottom:1px solid #e5e5e5;}
.successful_cases dl:last-child{border-bottom:0;}
.successful_cases dl dt,.successful_cases dl dd,.successful_cases dl dd em,.successful_cases dl dd span{display: inline-block;vertical-align: top; }
.successful_cases dl dt{width:510px;box-shadow: 1px 1px 5px rgba(0,0,0,.1);}
.successful_cases dl dt img{width:510px;height:200px;}
.successful_cases dl dd{margin-left:50px;width:630px;color:#666;}
.successful_cases dl dd h3{font-weight:normal;font-size:16px;color:#333;margin-bottom:10px;}
.successful_cases dl dd em{display: inline-block;font-weight:bold;vertical-align: top;}
.successful_cases dl dd span{width:550px;margin-left:10px;}
.successful_cases dl dd p{margin-bottom:5px;}

.tdun_tab_technical{border-bottom:2px solid #e5e5e5;margin:0 20px;}
.tdun_tab_technical li{display: inline-block;padding:10px 0;margin-right:30px;cursor: pointer;position: relative;top:1px;font-size:18px;}
.tdun_tab_technical li.active,.tdun_tab_technical li.swiper-pagination-bullet-active{border-bottom:3px solid #0a76d6;color:#0a76d6;}
.tdun_cont_technical .swiper-wrapper{margin-bottom:100px;}
.tdun_cont_technical .swiper-slide{padding:20px;}
.tdun_cont_technical h3{font-size:16px;font-weight:normal;background:#fff;box-shadow: 1px 1px 5px rgba(0,0,0,.1);border-left:2px solid #0a76d6;padding:5px 10px;margin:30px 0 20px 0; }
.tdun_cont_technical p{margin-top:10px;color:#666;}
.tdun_newslist dl{padding:20px; background:#fff;box-shadow: 1px 1px 5px rgba(0,0,0,.1);margin-bottom:20px;}
.tdun_newslist dt,.tdun_newslist dd{display: inline-block; vertical-align: top;}
.tdun_newslist dt,.tdun_newslist dt img{width:126px;height:98px;}
.tdun_newslist dt.noticeimg,.tdun_newslist dt.noticeimg img{width:126px;height:68px;}
.tdun_newslist dd{width:883px;margin-left:30px;}
.tdun_newslist dd h4{position: relative;font-size:16px;font-weight:normal;}
.tdun_newslist dd h4 span{position: absolute;right:0;top:0;color:#999;font-size:14px;}

.certificate{margin:40px 0;}
.certificate li{width:22%;display: inline-block; background: #ccc;margin-right:3.5%;padding:15px; text-align: center;background: #f2f2f2; }
.certificate li img{width:100%;}
.certificate li:last-child{margin-right:0;}
.aboutus_con p{text-indent: 25px;}
.aboutus_con .title{margin-bottom:30px;font-weight:normal;border-bottom:2px solid #e5e5e5;padding-bottom:10px;}
.aboutus_con .title span{border-bottom:3px solid #0a76d6;position: relative;top:12px;font-size:24px;display: inline-block;padding-bottom:10px;}
.aboutus_con strong{color:#333;}
/*.logo_ab{ float:left;background: #f2f2f2;width:320px;height:266px;margin-right:20px;}
.logo_ab img{width:100%;}	*/	
.join_us,.right_txt{line-height:2;}
.join_us{margin:30px 0;}
.join_us p{text-indent: 0;}

.contactus dt,.contactus dd,.qcode,.qq_zx,.contactus dd img,.qcode span{display: inline-block; vertical-align: top;}
.contactus dt{width:795px;line-height:2.5}
.contactus dd{width:400px;border:1px solid #e5e5e5;padding:20px;margin-top:30px;}
.contactus dd img{width:80px;height:80px;}
.contactus p{text-indent:0;}
.qq_zx{width:150px;}
.qcode span{margin-left:20px;}
.contactus dd img,.qcode span,.qq_zx,.qcode{ vertical-align: middle;}
/*map*/
#allmap {
  width: 100%;
  height: 400px;
  overflow: hidden;
  margin:40px 0 100px 0;
  font-family: "微软雅黑";
}

.menu_con{background: #fff;box-shadow: 1px 1px 10px rgba(0,0,0,.1);}
.menu_con li{padding:15px;display: inline-block;width:32%; text-align: center;font-size:18px;}
.menu_con li a{display: block;color:#333;}
.menu_con li.on,.menu_con li:hover{color:#fff; background: #0a76d6;}
.menu_con li.on a,.menu_con li a:hover,.menu_con li:hover a{color:#fff;}

.news_detail .info{line-height:2;margin-top:50px;min-height:800px;}
.news_detail h1{font-size:28px;font-weight:normal;text-align: center;margin-bottom:5px;}

.current{ background: #f5f5f5;padding:10px;}
.current .icon-rarrow{font-size:20px;margin:0 5px;color:#ccc;}
.current .title{padding:0;}
#myPage1,#myPage2{ text-align: center;margin-top:50px;}

.freebox{ z-index:999;background: #fff;box-shadow: 1px 1px 10px rgba(0,0,0,.5);width:500px;height:350px;padding:20px 0; position: fixed;top:50%;left:50%;margin-left:-250px;margin-top:-175px;}
.mask{width:100%;height:100%; background: rgba(0,0,0,.5);position: fixed;top:0;left:0;z-index:99}
.freebox input{margin:10px 0;}
.freebox .inp_text{width:80%; background: #fff;border:1px solid #e5e5e5;height:40px;padding:0 10px;margin-left:10px;}
.freebox .bluebtn{cursor: pointer;height:40px;}
.freebox h3{font-size:18px;font-weight: normal;margin-bottom:10px; text-align: left;padding-left:30px;position: relative;}
.freebox .close{position: absolute;right:20px;top:5px;font-size:20px;cursor: pointer;color:#0a76d6;}
.sucessbox{height:100px !important;margin-top:-50px !important;}
.sucessbox h1{text-align: center;font-size:20px;line-height:50px;color:#0a76d6;}
/*视频演示页面*/

.video-player-wrapper{width: 70%;position: fixed;top: 2%; left: 50%;margin-left:-35%;z-index: 999; background: #fff; box-shadow: 1px 1px 10px rgba(0,0,0,.1); }
.video-player-wrapper .closer-handler{ text-align: right;color:#0a76d6;margin-bottom:15px;cursor: pointer;}
.video-player-wrapper .con{padding:20px;}
.app_txt{display: none;}
.about_banner{position:relative;padding-top: 140px; width:100%;min-height:400px; background: url("../images/aboutus.jpg"/*tpa=http://www.kirincloud.net/images/aboutus.jpg*/) no-repeat; background-size: cover; color:#fff;}
.about_banner:before{content:"";position: absolute;top:0;left:0;width:100%;height:100%;background: rgba(0,0,0,.2);z-index:0;} 
.about_banner h1{font-weight:normal;font-size:38px;margin-bottom:10px;}
.about_banner .info{width:1200px;margin:0 auto;padding-right:500px;position: relative;z-index:3;}
.safe_img{padding:40px 0;border:1px solid #e5e5e5;margin-bottom:50px;}
.safe_img div.img1{background: url("../images/tdun.png"/*tpa=http://www.kirincloud.net/images/tdun.png*/) center center no-repeat; background-size: 70% auto;min-height:500px;height:auto; }
.safe_img div.img2{background: url("../images/gfIP.png"/*tpa=http://www.kirincloud.net/images/gfIP.png*/) center center no-repeat; background-size: 70% auto;min-height:600px;height:auto; }
.safe_img div.img3{background: url("../images/server.png"/*tpa=http://www.kirincloud.net/images/server.png*/) center center no-repeat; background-size: 70% auto;min-height:600px;height:auto; }
.social-share{text-align: right;margin:50px 0 100px 0;}
.social-share .icon-qq:before{content:""!important;}
.spacebox{position: relative;margin:90px 0 70px 0;}

/*app*/
@media (max-width: 768px){ 
	body{font-size:.85rem;}
    .top .topbar,.banner_index .swiper-slide .con,.wrapper{
        width:100%;
    }
  .top52{margin-top:-110px !important;margin-bottom: 120px;}
  .topbar{content:'';width:100%;height:80px;position: absolute;top:0;left:0; background: rgba(255,255,255,.1);z-index:3;}
  .topbar .nav {display:none;background: #fff;color:#333;position: absolute;left:0;width:100%;top:52px;margin-left: 0;box-shadow: 1px 1px 10px rgba(0,0,0,.5); }
  .topbar .nav a{display: block;font-size:16px;border-bottom:1px solid #f2f2f2;color:#333;}
  .top{padding-bottom:52px;}
  .topbar .nav a.on{color:#0a76d6;border-bottom:4px solid #0a76d6;}
  .menu_app{display:inline-block;color:#fff;margin-right:10px;}
  .menu_app em{font-size:20px;}
  #top{position: fixed;top:0;width:100%;left:0;z-index:99999;}
    .top .topbar{height:52px;}
    .topbar .logo{width:60px;}
    .topbar .login-link{ vertical-align: top; position: absolute;right:10px;}
    .topbar .login-link a{margin-left:15px;}
    .register_a{padding:5px 8px;}
 

	.banner_01 .con{background:#000111 url("https://cdn.jsdelivr.net/gh/AOSOUL/supercdns@master/banner01.png"/*tpa=http://www.kirincloud.net/images/banner01.png*/) right 75% no-repeat;background-size: 50% auto;}

	.banner_02 .con{background:#000543 url("https://cdn.jsdelivr.net/gh/AOSOUL/supercdns@master/banner02.png"/*tpa=http://www.kirincloud.net/images/banner02.png*/) right 75% no-repeat;background-size:50% auto;}

	.banner_03 .con{background:#14004d url("https://cdn.jsdelivr.net/gh/AOSOUL/supercdns@master/banner03.png"/*tpa=http://www.kirincloud.net/images/banner03.png*/) right 75% no-repeat;background-size:50% auto;}
	.banner_index{padding-top:50px;}
  .banner_index .swiper-slide .con h1{padding-top:132px;font-size: 16px}
	.banner_index .swiper-slide .con h3{font-size:12px;}
	.banner_index .swiper-slide .con p{font-size:12px;}
	.banner_index .swiper-slide .con p,.banner_index .swiper-slide .con h3,.banner_index .swiper-slide .con h1{margin-bottom: 0;}
	.banner_index .swiper-slide .con{padding:0 30% 0 20px;}
	.banner_index .swiper-slide .con,.banner_index .swiper-slide{height:300px;}
	.banner_index  .banner_02 .con  h3{display: none;}

	.banner_index .swiper-slide .con .greenbtn, .swiper-slide .con .whitebtn{margin-right:10px;}
	.greenbtn,.bluebtn,.whitebtn{padding:5px 10px;font-size:12px;}

	.right_contact em.icon-phone, .right_contact em.icon-top,.right_contact em.icon-qq{font-size:25px;}

	.icon-qq{width:25px;height:25px;}
	.right_contact p{padding:5px;}
	.main_product{margin:20px 0 30px 0; text-align: center;}

	.main_product li{height:auto;width:92%;padding-bottom:20px;display: block;margin:0 auto;}
	.main_product li.tdun{margin:10px auto;width:92%;height:auto;top:auto;}
	.main_product li .info{padding:10px;text-align: left;}
	.main_product li .info p{width:100%;padding:0 20px;margin:0;}
	.main_product li .info span{display: none;}
	.main_product li div.parameter{padding:0;margin:10px;padding-top:10px; padding-left:10%;display: none;}
	.main_product li h3{padding:12px 0 0 0;}
	.main_product li h3,.main_product li h2{font-size:16px;}
	.main_product li h2{padding-top:10px;display:none;}
	.main_product li h4 dfn{font-size:16px;}
	.main_product li .bluebtn{padding:5px 20px;left:auto;right:auto;bottom:0; position: relative;box-shadow:none;}
	.tc{left: 0px;}

	.top52{position:relative;left: 0px;}
	.icon-hot{width:40px;height:40px;top:-4px;right:0;}
	.title{padding:0 15px;}
	.title h2{font-size:20px;}
	.mgtb100{margin:50px 0;}
	.tdun_tab{font-size: 14px;height:60px;}
	.tdun_tab li{width:24%;line-height:25px; position: relative;}
	.tdun_tab li em{font-size:20px;display: block;}
	.tdun_tab li em.icon-s04{font-size:30px;position: absolute;bottom:35px;width:100%; text-align: center;}
	.tdun_con dt{display: none;}

	.tdun_con dd{width:100%;margin:0;}
	.tdun_con dd ul li:last-child{border-bottom:0;padding-bottom: 0;}
	.pro_feature{margin:20px 0 40px 0;}
	.pro_feature li{width:100%;margin:0;padding:20px;}
	.pro_feature li i{font-size:70px;}
	.pro_feature li h2{font-size:16px;}
	.news_more{bottom:0;right:20px;}
	.mgtb40{margin:0;}
	.pdtb60{padding:20px;}
	.news_index{margin-bottom:40px;}
  .news_index div{padding:10px 0;}
	.news_index div h3{font-size: 14px;width:100%;}
	.news_index div span{display: block;position: relative;left:0}


	.partner { text-align: center; }
	.partner li{width:30%;}
	.partner li img{width:100%;height:auto;}
	.phone_submit_bar{font-size:16px;}
	.service_txt li,.service_txt li:last-child{font-size:14px;width:24%;text-align: center;font-size:12px; vertical-align: top;}
	.service_txt li em{font-size:28px;display: block;}
	.service_txt li em.icon-vip{font-size:23px;}
	.subnav ul{display: none;}
	.weixin_phone{margin:0 auto;}
	.copyright, .subnav{padding:10px 0;text-align: center;}
	.weixin_phone h1{font-size:18px;margin:0;width:100%;}
	.weixin_phone em{font-size:30px;margin-right:10px;}
	.qrcode {display: none}
	.freebox{width:80%;margin-left:-40%;padding:20px;}
	.freebox .close{right:0;}
	.tdun_advantages li{width:100%;padding:20px;min-height:auto;}
	.right_con{display: none;}
	.left_con{width:100%;padding:5px 5px 25px 5px;margin:0;}
	.btn_space{margin-left:15px;}
	.btn_space a{margin-top:10px;}
  .wappadding{padding:0;}
	
	.tdun_advantages li{border:0;border-bottom:1px solid #f2f2f2;margin: 0;}
	.tdun_advantages li:first-child{border-top:1px solid #f2f2f2;}
	.tdun_advantages li em{display: none;}
	.pro_attribute{font-size:12px;}
	.app-w{width:100%;overflow-y: hidden;white-space: nowrap;}
	.pro_attribute tr td:last-child{display: none;}
	.video_con{margin-bottom:0;}
	.tdun_solution_secen {margin-top:40px;}
	.tdun_solution_secen li{width:100%;min-height: auto;border:0;border-bottom:1px solid #f2f2f2;}
	.tdun_solution_secen div,.tdun_solution_secen li .detail{padding:10px 20px;}
	.video_con li{width:32%;margin:0;}
	.video_con li div{height:auto;}
	.video_con li h3{font-size:12px;}
	.video_con li div em{top:30%;left:35%;font-size:20px;}
	.tdun_step{padding:20px 10px 40px 10px;}
	.tdun_step li{width:19%;}
	.tdun_step li span{width:48px;height:48px;font-size:12px;color:#333;padding-top:15px;}
	.tdun_step li em{font-size:20px;color:#333;margin-bottom: 15px;}
	.tdun_step li i{display:none;font-size:14px;margin-left:0;}
	.tdun_step li:last-child{margin-left:0;width:16%;}
	.tdun_tab_scene{left:130px;top:35px;}
	.tdun_tab_scene li{margin:0 10px;}
	.tdun_cont_scene dt, .tdun_cont_scene dt img{display: block;width:150px;height:auto;margin:0 auto;}
	.tdun_cont_scene dd{margin-left: 0;width:100%;}
	.tdun_cont_scene dd p:last-child{ text-align: center }
	.tdun_cont_scene dd p .white-btn{margin-top:10px;font-size:14px;padding:5px 15px;margin:0 auto;}
	.tdun_advantages li h3{font-size:16px;margin-bottom:5px;}
	.successful_cases{margin-bottom: 20px;}
	.successful_cases dl{padding:0;}
	.successful_cases dl dt,.successful_cases dl dd{width:100%;padding:20px;margin-left: 0}
	.successful_cases dl dd span{width:75%;}
	.successful_cases dl dt img{width:100%;height:auto;}
	.tdun_newslist dt, .tdun_newslist dt img{display: none;}
	.tdun_newslist dd{margin-left:0;width:100%;}
	.tdun_newslist dd h4 span{display: block;position: relative;right:auto;left:0;}
	.news_detail{margin-top:-20px;padding:20px;}
	.news_detail h1{font-size:20px;}
  .news_detail .info{margin-top:20px;}
	.logo_ab{float: none;display: block;margin:0 auto;display: none;}
	.aboutus_con{padding:0 20px;}
	.aboutus_con .title span{font-size:18px;top:2px;}
	.aboutus_con .title{padding:0;margin-bottom:20px;}
	.certificate,.contactus{margin:20px 0;}
	.certificate li{margin-right:2.5%;padding:10px;}
	.contactus dt,.contactus dd{width:100%;}
	
	.left_con .title{margin-top:30px;}
	.mgtb{margin-top:30px;}
	.contactus dd{padding:20px 10px;}
  .contactus dd img{width:60px;height:60px;}
  .qcode span{margin-left: 5px;}
	.qq_zx{width:100px;}
	.app_txt{display: block; color:#0a76d6;}
	.freebox .bluebtn{padding:5px 20px;}
	.freebox h3{padding-left:0;}
  .solution_con{padding:50px 0 0 0;}
   .solution_con .solution_box_tab dl{padding:0 20px;}
   .about_banner{min-height:300px;padding-top:18%;background:url("../images/aboutus.jpg"/*tpa=http://www.kirincloud.net/images/aboutus.jpg*/) center center no-repeat }
   .about_banner .info{width:85%;padding-right:10px;}
   .about_banner  h1{font-size:20px;}
    .safe_img{padding:20px 0;}
   .safe_img div.img1{background-size: 80% auto;min-height:150px;height:auto; }
  .safe_img div.img2{ background-size: 80% auto;min-height:230px;height:auto; }
  .safe_img div.img3{ background-size: 80% auto;min-height:230px;height:auto; }
  .menu_con li{font-size:14px;padding:10px;}
  #allmap {height:200px;}
  .qq_con,.phone_con{display: none;}
  .video-player-wrapper{top:20%}
  .video-player-wrapper .con{padding:10px;}
  .video-player-wrapper .closer-handler{margin-bottom:5px;}
  .social-share{text-align: center;margin:0;}
	.spacebox{position: relative;margin:90px 0 30px 0;}
 }
